.navigation{
  width:100%;
  height:4rem;
  background-color: aqua;
}

.navidation nav{
  display: flex;
  justify-content: center;
  align-items: center;
  height:100%
}

.navigation nav ul{
  list-style-type: none;
  display: flex;
  justify-content: center;
  align-items: center;
}
.navigation nav ul li{
  margin: 0 1rem;
}

.navigation nav ul li a{
 color: azure;
 text-decoration: none;
}

.navigation nav ul li a:hover{
  background-color: azure;
  color: aqua;
}
 

