.products{
  width:50%;
  margin: 2rem auto;
}
.products ul{
  list-style-type: none;
}

.products ul li{
  margin: 1rem;
  padding: 1rem;
  border: 2px solid black;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

img{
  height: 150px;
  width: 200px;

}

.cena{
  color: blueviolet;
}